
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Work Sans";
    font-style: medium;
    font-weight: 500;
    src: url("/fonts/WorkSans.woff2") format("woff2");
    font-display: swap;
}

* {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    @apply text-vspot-text-pimary;
}

body {
    @apply bg-vspot-primary-bg;
}

button:hover:enabled, a:hover {
    filter: brightness(95%);
}

button {
    @apply rounded-tl-lg;
    @apply rounded-br-lg;
}

h1 {
    @apply text-xl;
    @apply font-bold;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

ul {
    @apply list-disc;
}

li {
    @apply ml-8;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #181a1b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 8px;
}
